$translate: 100px;
$slowAnimation: 1s;
$fastAnimation: .6s;

.transition{
transition: all .8s;
}
.item__right-out{
  transform: translateX($translate);
  opacity: 0;
}
.item__left-out{
  transform: translateX(-$translate);
  opacity: 0;
}

.item__top-out{
  transform: translateY(-$translate);
  opacity: 0;
}

.item__bottom-out{
  transform: translateY($translate);
  opacity: 0;
}

.item__fade-out{
  opacity: 0;
}

.item__fade-in{
  animation: fade-in $fastAnimation infinite linear;
  -webkit-animation: fade-in $fastAnimation linear;
}

@keyframes fade-in{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}