
@media (max-width: 991px) {
  h2 {
    font-size: 1rem;
  }
  .header {
    background-size: contain;
  }
  .header__nav-item {
    padding-left: 20px;
    font-family: Roboto;
    font-size: 0.45rem;
    padding-top: 10px;
  }
  .header__logo-img {
    margin-top: 20px;
    margin-left: 20px;
  }
  .pet-selection__title {
    margin-top: 0;
  }
  .pill-selection__title {
    margin-top: -30px;
    margin-bottom: 0px;
  }
  .pet-selection__link {
    width: 120px;
    height: 120px;
    border: 6px solid #fff;
    font-size: 1.1rem;
    line-height: 35px;
    padding-top: 10px;
    padding-left: 25px;
    margin-left: 20%;
    margin-top: -50px;
  }
  .pet-selection__link::after {
    content: url('../img/pet-selection__link-arrow-media-min.png');
  }
  .pet-selection__bg {
    transform: scale(1.8);
    margin-top: 11%;
    margin-left: -25%;
  }
  .pill-selection__item {
    transform: scale(0.8);
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: .7rem;
  }
  h3 {
    font-size: 1rem;
    line-height: 23px;
  }
  .header__nav-item {
    font-size: .4rem;
  }
  .header__nav {
    margin-left: 10px;
  }
  .header__nav-item {
    padding-left: 8px;

  }
  .header__logo-img {
    width: 50%;
  }
  .pill-selection__title {
    line-height: 30px;
  }
  .pet-selection__link {
    width: 85px;
    height: 85px;
    font-size: 0.8rem;
    line-height: 21px;
    padding-top: 5px;
    padding-left: 13px;
    margin-top: -49px;
  }
  .pet-selection__link::after {
    bottom: 3px;
  }
  .pet-selection__title {
    margin-top: 5px;
  }
}

@media (max-width: 575px) {
  .row {
    margin-right: 0;
  }
  .header {
    background: url('../img/header__bg-media-min.png') no-repeat;

    background-size: contain;
    width: 100%;
    height: 100vh;
  }
  .header__logo-img {
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
  }

  .card__item-title {
    /* max-width: 28px; */
    margin-top: 30px;
    width: 50px;
  }
  .subtitle {
    font-size: 0.8rem;
  }
  .arsenal__plus-one {
    top: -215px;
    left: 380px;
  }
  .arsenal__plus-two {
    top: -325px;
    left: 15px;
  }
  .arsenal__plus-one::before {
    font-size: 1.9rem;
    left: -290px;
  }
  .arsenal__plus-two::after {
    font-size: 1.9rem;
  }
  //.header__logo:after {
  //  position: absolute;
  //  top: 10px;
  //  right: 0;
  //  content: '';
  //  display: block;
  //  width: 2px;
  //  height: 40px;
  //  background-color: #336447;
  //}
  .pill-selection__title {
    margin-top: -10px;
  }
  .header__nav-item {
    font-size: .35rem;
    padding-left: 6px;
  }
  .pet-selection__link {

    margin-top: -30px;
  }

  .header__content {
    margin-top: 15px;
  }
  .pill-selection__item {
    transform: scale(0.6);
    margin-top: 120px;
  }
  .pill-selection__title {
    min-width: 320px;
  }

  .card {
    width: 400px;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;

  }


  .parent {
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    padding-left: 30px;
  }

  .child {
    display: inline-block;
    vertical-align: top;
  }

}

@media (max-width: 475px) {
  .card__item-img {
    width: 320px;
  }
  .subtitle {
    font-size: 0.7rem;
  }
}

@media (max-width: 425px) {
  .card__item-img {
    width: 280px;
  }
  .subtitle {
    font-size: 0.6rem;
  }
}

@media (max-width: 400px) {
  .card__item-img {
    width: 260px;
  }

}

@media (max-width: 360px) {
  .card__item-img {
    width: 230px;
  }
  .subtitle {
    font-size: 0.55rem;
  }
}


@media (max-height: 800px) {

  .img {
    margin-bottom: 50px;
  }
  .nematod__atack {
    width: 50%;
    height: 60%;
    position: absolute;
    left: 20%;
    top: 20%;
  }
}

@media (max-height: 750px) {
  html, body {

    font-size: 25px;

  }
  .plus {
    padding-left: 11px;
  }

  .header__logo-img {
    transform: scale(.9);

  }

  .pet-selection__title {
    margin-top: 3%;
  }
  .img {
    margin-bottom: 0;
    transform: scale(.9);
  }
}

@media (max-height: 700px) {
  .img {
    margin-bottom: 0;
  }
  .arsenal__img-3 {
    transform: scale(.5);
  }
  .arsenal__img-2 {
    transform: scale(.5);
  }
  .arsenal__img-1 {
    transform: scale(.5);
  }
}