/* ANIMATION */

/* DEFAULT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  overflow: hidden;
  scroll-behavior: smooth;
  font-size: 30px;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  min-width: 320px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}


article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* MAIN STYLES*/
h2 {
  font-family: "Open Sans";
  font-size: 1.9rem;
  font-weight: 700;
}

h3 {
  font-family: Verveine;
  font-size: 2rem;
  font-weight: 400;
  line-height: 48px;
}


main {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}

.block-gradient {
  background: rgb(45, 85, 62);
  background: linear-gradient(351deg, rgba(45, 85, 62, 1) 0%, rgba(62, 121, 86, 1) 57%, rgba(68, 193, 126, 1) 100%);
  width: 100%;
  height: 100vh;
}


.container {
 width: 1140px;
}

.header {
  background: url(../img/header__bg.png) no-repeat;
  height: 100vh;
}

.header__nav-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.header__nav-item {
  padding-left: 30px;
  font-family: Roboto;
  font-size: 0.6rem;
  padding-top: 10px;

}

.header__nav-link {
  text-decoration: none;
  color: #066821;
}

.header__logo-img {
  margin-top: 60px;
  margin-left: 30px;
}

.header__content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}


.pet-selection {
  width: 60%;
  position: relative;
}

.pet-selection__title {
  width: 195px;
  color: #336447;
  margin-top: 90px;
  margin-left: 60px;
}

.pet-selection__bg {
  transform: scale(2);
  margin-top: 10%;
  margin-left: -55%;
}

.pet-selection__link {
  position: absolute;

  display: block;
  width: 175px;
  height: 175px;
  border: 7px solid #fff;
  border-radius: 50%;
  background-color: rgba(52, 103, 73, .6);
  color: #fff;
  font-family: Verveine;
  font-size: 2rem;
  line-height: 48px;
  text-decoration: none;
  padding-top: 17px;
  padding-left: 30px;
}

.pet-selection__link:hover {
  border: 7px solid #009d43;
  background-color: rgba(252, 239, 166, .6);
  color: #009d43;
}

.pet-selection__link:active {
  background-color: rgba(252, 239, 166, 1);
}

.pet-selection__link-one {

  top: 30%;
  left: 20%;
}

.pet-selection__link-two {
  top: 53%;
  left: 30%;

}

.pet-selection__link::after {
  content: url('../img/pet-selection__link-arrow.png');
  display: block;
  position: absolute;
  bottom: 8px;
}

.pet-selection__link:hover::after {
  content: url('../img/pet-selection__link-arrow-hover.png');
  display: block;
  position: absolute;
  bottom: 8px;
}

.pill-selection {
  width: 40%;
}

.pill-selection__title {
  text-shadow: #fcf0aa 2px 2px 5px, #fcf0aa -2px -2px 5px,
  #fcf0aa -2px 2px 5px, #fcf0aa 2px -2px 5px;
  line-height: 56.87px;
  width: 560px;
  text-align: center;
}

.select-weight {
  display: none;
  //display: flex;
  align-items: center;
}

.select-weight .title {
  text-align: end;
  margin-bottom: 40px;
}

.title {
  color: #ffe699;
}

.card {
  display: flex;
  justify-content: center;
}

.card__item {
  width: 33.3%;
}

.card__item-title {
  font-family: Roboto;
  font-size: 1rem;
  color: #ffe699;
  font-weight: 700;
  max-width: 290px;
  margin-top: 30px;
}

.select-tablet {
  display: none;
  //display: flex;

}

.shield {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: url('../img/shield.png') no-repeat 0 -400px;
  height: 100vh;
}

.arsenal {
}

.img {
  position: relative;
  margin-bottom: 100px;
  z-index: 1;
}

.arsenal__img-1 {
  z-index: 1;
}

.arsenal__img-2 {
  position: absolute;
  bottom: 100px;
  left: 420px;
  z-index: 0;
}

.arsenal__img-3 {
  position: absolute;
  bottom: 515px;
  left: 625px;
}

.arsenal__property {
  position: absolute;
}
