/* ANIMATION */

/* DEFAULT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 30px;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  min-width: 320px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}


article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* MAIN STYLES*/
h2 {
  font-family: "Open Sans";
  font-size: 1.9rem;
  font-weight: 700;
}

h3 {
  font-family: Verveine;
  font-size: 2rem;
  font-weight: 400;
  line-height: 48px;
}


main {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}

.block-gradient {
  background: rgb(45, 85, 62);
  background: linear-gradient(351deg, rgba(45, 85, 62, 1) 0%, rgba(62, 121, 86, 1) 57%, rgba(68, 193, 126, 1) 100%);
  width: 100%;
  height: 100vh;
}


.container {
  width: 1140px;
}

.header {
  background: url(../img/header__bg.png) no-repeat;
  height: 100vh;
}

.header__nav-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.header__nav-item {
  padding-left: 30px;
  font-family: Roboto;
  font-size: 0.6rem;
  padding-top: 10px;

}

.header__nav-link {
  text-decoration: none;
  color: #066821;
}

.header__logo-img {
  margin-top: 60px;
  margin-left: 30px;
}

.header__content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}


.pet-selection {
  width: 60%;
}

.pet-selection__title {
  width: 195px;
  color: #336447;
  margin-top: 90px;
  margin-left: 60px;
}

.pet-selection__bg {
  position: absolute;
  left: 0;
  bottom: 0;
}

.pet-selection__link {
  position: relative;
  display: block;
  width: 175px;
  height: 175px;
  border: 7px solid #fff;
  border-radius: 50%;
  background-color: rgba(52, 103, 73, .6);
  opacity: 0.99;
  color: #fff;
  font-family: Verveine;
  font-size: 2rem;
  line-height: 48px;
  text-decoration: none;
  padding-top: 17px;
  padding-left: 30px;
}

.pet-selection__link::after {
  content: url('../img/pet-selection__link-arrow.png');
  display: block;
  position: absolute;
  bottom: 8px;
}

.pill-selection {
  width: 40%;
}

.pill-selection__title {
  text-shadow: #b29c62 1px 1px 0, #b29c62 -1px -1px 0,
  #b29c62 -1px 1px 0, #b29c62 1px -1px 0;
  line-height: 56.87px;
  width: 560px;
  text-align: center;
}
