.buy{
  display: none;
  justify-content: center;
  background: rgb(45, 85, 62);
  background: linear-gradient(351deg, rgba(45, 85, 62, 1) 0%, rgba(62, 121, 86, 1) 57%, rgba(68, 193, 126, 1) 100%);
  padding: 0 0 75px;
  flex-direction: column;
}
.buy__title{
  margin: 75px 0 30px;
}
.buy__subtitle {
  max-width: 290px;
  margin-left: 20%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.buy__item{
  display: block;
  padding: 10px;
  text-decoration: none;
}
.buy__item-img{
  transition: all .7s;
}
.buy__item:hover{
  .buy__item-img{
    transform: scale(1.1);
  }


}
.buy__link{
  color: #e01853;
  font-family: Roboto;
  font-size: .66rem;
  font-weight: 700;
  border-radius: 18px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  padding: 12px 55px;
  text-decoration: none;
  margin-left: 20%;
  margin-top: 30px;
  transition: .3s;
}
.buy__link:hover{
  color: #ffffff;
  border: 1px solid #fff;
  background-color: #e01853;
}

.ozon__bg{
  background-image: url('../img/ozon__bg.png');
  display: flex;
  justify-content: center;
  padding: 160px 0;
  background-position: center;
  contain: unset;
  width: 100%;
  height: auto;
  height: 791px;
  background-repeat: no-repeat;
}
/*
.buy__img{
  transition: .3s;
}
.buy__img:hover{
  transform: scale(1.05);
}
.buy__img:active{
  transform: scale(.95);
}
.list__link{
  position: relative;
  color: #ffe699;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
  text-decoration: none;
  transition: .4s;
}
.list__link:after {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ffe699;
  content: "";
  transition:  0.3s;
}

.list__link:hover:after,
.list__link:focus:after {
  margin-left: 51%;

  width: 0%;
}
.list__link:active{
  font-size: 22px;
}
ul.list{
  padding: 15px;
}*/