

.card {
  display: flex;
  justify-content: center;
}
.card__item{
  display: block;
  padding: 10px;
  text-decoration: none;
}
.card__item-img{
  transition: all .7s;
}
.card__item:hover{
  .card__item-img{
    transform: scale(1.1);
  }
  .card__item-title {
    color: #336447;
    text-shadow: #fcf0aa 2px 2px 5px, #fcf0aa -2px -2px 5px,
    #fcf0aa -2px 2px 5px, #fcf0aa 2px -2px 5px;
  }
}
.card__item:active{
  .card__item-title{
    color:#fcf0aa;

  }

}
.card__item-title {
  max-width: 290px;
  margin-top: 30px;
}
