.footer{
  display: none;
  background-color: #8f794a;
  padding: 35px 0;
}
.footer__text{
  color: #ffffff;
  font-family: Corbel;
  font-size: 18px;
  font-weight: 400;
}

.text__politics{
  display: block;
  text-decoration: underline;
}