.header {
  background: url('../img/header__bg-min.png') no-repeat;
  height: 100vh;
}

.header__nav-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.header__nav-item {
  padding-left: 30px;
  font-family: Roboto;
  font-size: 0.6rem;
  padding-top: 10px;

}

.header__nav-link {
  display: inline-block;
  text-decoration: none;
  color: #066821;
  position: relative;
}
.header__nav-link:after  {
  display: block;
  content: "";
  background-color: #066821;
  height: 2px;
  width: 0%;
  left: 50%;
  position: absolute;
  -webkit-transition: width .2s ease-in-out;
  -moz--transition: width .2s ease-in-out;
  transition: width .2s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
.header__nav-link:hover:after{
  width: 100%;
}
.header__nav-link:active:after{
  width: 0%;
}

.header__logo-img {
  display: inline-block;
  margin-top: 5%;
  margin-left: 30px;
}

.header__content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}