.pill-selection__title {
  text-shadow: #fcf0aa 2px 2px 5px, #fcf0aa -2px -2px 5px,
  #fcf0aa -2px 2px 5px, #fcf0aa 2px -2px 5px;
  line-height: 56.87px;
  max-width: 560px;
  text-align: center;
  margin-top: -50px;
  margin-bottom: 40px;
}
