.result{
  display: none;
  //display: flex;
  align-items: center;
  position: relative;

}
.result__subtitle{
  margin-top: 21px;
}

.result__img{
  position: absolute;
  right: -150px;
  transform: scale(1.5);
}