.select-tablet {
  display: none;
  //display: flex;
  width: 100%;
}

.shield {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: url('../img/shield-min.png') no-repeat 0 -400px;
  height: 100vh;
  width: 100%;
}

.arsenal {
  position: relative;
}

.img {
  position: relative;
  margin-bottom: 100px;
  z-index: 1;
}

.arsenal__img-1 {
  position: relative;
  right: 25px;
  z-index: 1;

}

.arsenal__img-2 {
  position: absolute;
  bottom: 30px;
  left: 15px;
  z-index: 0;
}

.arsenal__img-3 {
  position: absolute;
  bottom: 445px;
  left: 40%;
}


.arsenal__plus-one{
  top: -250px;
  left: 100px;
}
.arsenal__plus-one::before{
  content:'R-празиквантел';
  width: 370px;
  color: #000000;
  font-family: Verveine;
  font-size: 2rem;
  font-weight: 400;
  line-height: 48px;
  position: absolute;
  left: -360px;
  text-shadow:
          -0   -2px 0   #B29C62,
          0   -2px 0   #B29C62,
          -0    2px 0   #B29C62,
          0    2px 0   #B29C62,
          -2px -0   0   #B29C62,
          2px -0   0   #B29C62,
          -2px  0   0   #B29C62,
          2px  0   0   #B29C62,
          -1px -2px 0   #B29C62,
          1px -2px 0   #B29C62,
          -1px  2px 0   #B29C62,
          1px  2px 0   #B29C62,
          -2px -1px 0   #B29C62,
          2px -1px 0   #B29C62,
          -2px  1px 0   #B29C62,
          2px  1px 0   #B29C62,
          -2px -2px 0   #B29C62,
          2px -2px 0   #B29C62,
          -2px  2px 0   #B29C62,
          2px  2px 0   #B29C62,
          -2px -2px 0   #B29C62,
          2px -2px 0   #B29C62,
          -2px  2px 0   #B29C62,
          2px  2px 0   #B29C62;

}

.arsenal__plus-two{
  top: -195px;
  right: 100px;

}
.arsenal__plus-two:after{
  content:'Мильбемицина оксим';
  color: #000000;
  font-family: Verveine;
  font-size: 2rem;
  font-weight: 400;
  line-height: 48px;
  position: absolute;
  left: 85px;
  text-shadow:
          -0   -2px 0   #B29C62,
          0   -2px 0   #B29C62,
          -0    2px 0   #B29C62,
          0    2px 0   #B29C62,
          -2px -0   0   #B29C62,
          2px -0   0   #B29C62,
          -2px  0   0   #B29C62,
          2px  0   0   #B29C62,
          -1px -2px 0   #B29C62,
          1px -2px 0   #B29C62,
          -1px  2px 0   #B29C62,
          1px  2px 0   #B29C62,
          -2px -1px 0   #B29C62,
          2px -1px 0   #B29C62,
          -2px  1px 0   #B29C62,
          2px  1px 0   #B29C62,
          -2px -2px 0   #B29C62,
          2px -2px 0   #B29C62,
          -2px  2px 0   #B29C62,
          2px  2px 0   #B29C62,
          -2px -2px 0   #B29C62,
          2px -2px 0   #B29C62,
          -2px  2px 0   #B29C62,
          2px  2px 0   #B29C62;
}
