.special{
  width: 100%;
  height: 100%;
  display: none;
  //display: flex;
  align-items: center;
  justify-content: center;
}
.special__pack{
  width: 100%;
  height: 350px;
  background: url('../img/specialpack.png') no-repeat center center;
  background-size: contain;
  padding-left: 225px;
  display: flex;
  flex-direction: column;
}

.special__result{
  position: relative;
  margin-top: -50px;
  margin-left: 125px;
  margin-bottom: 150px;
}
.special__plus-1{
  position: absolute;
  bottom: -13px;
  left: 50px;
}
.special__result__title{
  margin-left: -200px;


}
.special__study{
  position: relative;
  margin-top: 100px;
}
.special__study__title{
  margin-left: -290px;
}

.special__availability{
  position: relative;
  margin-left: 250px;
  margin-top: 150px;
}
.special__availability__title{
  position: absolute;
  left: -200px;
  bottom: -135px;
}

.special__security{
  position: relative;
  margin-left: 150px;

}
.special__security__title{
  margin-left: 100px;
}

.special__taste{
  position: relative;
  margin-top: 280px;
  margin-left: 125px;
}
.special__taste__title{
  margin-left: 100px;
}