.taste{
  display: none;
  align-items: center;
  position: relative;

}

.taste__title{
  max-width: 320px;
}

.taste__bg{
  position: relative;
  background-image: url('../img/taste_bg-min.webp');
  background-repeat: no-repeat;
  background-size: contain;
  width: 580px;
  height: 590px;
}
.taste__bg-cat{
  position: relative;
  background-image: url('../img/taste_bg-min.webp');
  background-repeat: no-repeat;
  background-size: contain;
  width: 655px;
  height: 517px;
  margin-left: -130px;
}

.taste__tablet{
  position: absolute;
  top: -1%;
  left: -4%;
}
.taste__tablet-cat{
  position: absolute;
  top: -8px;
  left: 40%;
}